<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title">User Details</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">First Name:</th>
                            <td>{{activeUser()?.firstName}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name:</th>
                            <td>{{activeUser()?.lastName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-6">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Email:</th>
                            <td>{{activeUser()?.email}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone:</th>
                            <td>{{activeUser()?.phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Orders</h5>
    </div>
    @if (activeUser()!.data.length > 0) {
    <div class="row g-3 p-5">
        @for (order of activeUser()?.data; track $index) {
        <div class="col-lg-6">
            <div class="card mb-4" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{order.movieImg}}" class="img-fluid rounded-start" alt="{{order.movieTitle}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between align-items-center">
                                {{order.movieTitle}}
                                <button class="btn btn-sm" type="button" (click)="deleteOrder(order)">
                                    <i class="fa-solid fa-x"></i>
                                </button>
                            </h5>
                            <div class="row">
                                <p class="col-md-6 card-text"><i class="fa-solid fa-location-crosshairs"></i>
                                    {{order.cinema}}</p>
                                <p class="col-md-6 card-text text-center">Hall: {{order.hall}}</p>
                            </div>
                            <div class="row">
                                <p class="col-md-6 card-text"><i class="fa-solid fa-clock"></i> {{order.time}}</p>
                                <p class="col-md-6 card-text text-center">Quantity: {{order.quantity}}</p>
                            </div>
                            <div class="row">
                                <p class="col-md-6 card-text"><i class="fa-solid fa-signal"></i>
                                    {{statusMap[order.status]}}</p>
                                <p class="col-md-6 card-text text-center">
                                    @if (order.status === 'na') {
                                <div class="btn-group gap-2">
                                    <button class="btn btn-sm btn-primary rounded-circle"
                                        (click)="pay(order)">Pay</button>
                                    <button class="btn btn-sm btn-danger rounded-circle"
                                        (click)="cancel(order)">Cancel</button>
                                </div>
                                }
                                @if (order.status === 'paid') {
                                <div class="btn-group gap-2">
                                    <button class="btn btn-sm btn-primary rounded-circle" (click)="like(order)"><i
                                            class="fa-solid fa-heart"></i></button>
                                    <button class="btn btn-sm btn-danger rounded-circle" (click)="dislike(order)"><i
                                            class="fa-solid fa-heart-crack"></i></button>
                                </div>
                                }
                                @if (order.status === 'liked' || order.status === 'disliked') {
                                <div class="btn-group gap-2">
                                    Review Submited!
                                </div>
                                }
                                @if (order.status === 'canceled') {
                                Canceled Order!
                                }
                                </p>

                            </div>
                            <p class="card-text text-center"><small class="text-muted">Enjoy The Movie!</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    } @else {
    <div class="card-body">
        <p class="text-center">You don't have any orders yet!</p>
    </div>
    }
</div>